
.headline{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin: 2rem 2rem 2rem 3rem;
    font-size: calc(18px + 2vmin);
}

/* Product List */
.product-list{
    grid-column: 1;
    grid-row: 2;
    margin: 2rem 2rem 2rem 3rem;
    display: grid;
    gap: 3.5vh 0;
    overflow-y: auto;
}

.product-row{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 29% 11%;
    gap: 0 5%;
}

.product-row-counter{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0 1em;
    align-items: center;
    justify-content: center;
}



/* Counter Buttons */
.increase, .decrease{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-number{
    display: flex;
    justify-content: center;
}
